@model TaskManager.Models.TaskListViewModel

<div class="row">
    <div class="col-md-4">
        <h1>TO DO</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Descripcion</th>
                    <th>Priority</th>
                </tr>
            </thead>
            <tbody>
                
                @foreach (var task in Model.Tasks)
                {
                    var rowClass = task.TaskPriority switch
                    {
                        TaskListModel.Priority.Alta => "bg-alta",
                        TaskListModel.Priority.Media => "bg-media",
                        TaskListModel.Priority.Baja => "bg-baja",
                        _ => ""
                    };
                    <tr class="@rowClass">
                        <td>@task.Name</td> 
                        <td>@task.Descripcion</td>
                        <td>@task.TaskPriority</td>
                    </tr>
                }
            
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h1>DOING</h1>
    </div>
    <div class="col-md-4">
        <h1>DONE</h1>
    </div>
</div>

