@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WELCOME</h1>
    <div class="row">
        <div class="col-md-4">
            <h1>TO DO </h1>
        </div>
        <div class="col-md-4">
            <h1> DOING </h1>
        </div>
        <div class="col-md-4">
            <h1>DONE</h1>
        </div>

    </div>
</div>
